<div class="user-details">
  <h1> About Me </h1>
  <p>I am currently pursuing a B.Tech. in Electrical and Electronics Engineering from Delhi Technological University (formerly Delhi College of Engineering). I am an aspiring Engineer and Researcher.</p>
  <p>I'm good at mathematical and analytical tasks.</p>
  <p>My favourite pastime include playing videogames, watching movies, tv shows and anime. I am almost always listening to music especially classical, rock and movie score. I love to read about technology, philosophy and human psychology.</p>
  <p><b>Research Interests :</b> Machine Learning, Deep Learning, Artificial Intelligence, Computer Vision, Natural Language Processing</p>
  <p>To know more have a look at my resume and feel free to contact me at any of the places mentioned above.</p>
</div>
