 <div class="user-details">
  <h1> About Me </h1>
  <p>I am currently pursuing a B.Tech. in Electrical and Electronics Engineering from Delhi Technological University (formerly Delhi College of Engineering). I am an aspiring Engineer and Researcher.</p>
  <p>My programming, mathematical and analytical skills are quite good and I enjoy putting them to use.</p>
  <p>My favourite pastime include playing videogames, watching movies, tv shows and anime. I am almost always listening to music especially classical, rock and movie score. I love to read about technology, philosophy and human psychology.</p>
  <p><b>Interests :</b> Algorithms, Machine Learning, Deep Learning, Artificial Intelligence, Computer Vision, Natural Language Understanding</p>
  <p>To know more have a look at my resume and feel free to email me.</p>
</div>
